# Ключ для OpenRouter
OPENROUTER_API_KEY="ключ"

# Данные для подключения к вашему ClickHouse
CLICKHOUSE_HOST=""
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD=""
CLICKHOUSE_DATABASE="default"
