# Ключ для OpenRouter
OPENROUTER_API_KEY="ключ"

# Данные для подключения к вашему ClickHouse
CLICKHOUSE_HOST=""
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD=""
CLICKHOUSE_DATABASE="default"

# Подключение к YandexGPT
FOLDER_ID=

YC_KEY_ID=
YC_SERVICE_ACCOUNT_ID=
YC_PRIVATE_KEY=