# --- Virtual Environment ---
.venv/
venv/
env/

# --- Python Cache ---
# Исключаем автоматически генерируемые файлы кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Secrets ---
.env

# --- Generated Database Files ---
logs_prod.db
chroma_prod_db/

# --- User-specified Files ---
test.py
freezed.txt

# --- IDE / Editor specific files ---
.vscode/
.idea/