---

[defaults]
inventory = ./inventory/inventory.sh
roles_path = ./roles
host_key_checking = False
vault_password_file = ../../.vault_pass

remote_user = ubuntu
private_key_file = ../yandex_cloud_ssh_key

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ForwardAgent=yes
pipelining = True